@keyframes stdweb_printLine {
    from {
        top: 0%;
    }
    to {
        top: 100%;
    }
}

@keyframes stdweb_printChar {
    from {
        left: 0%;
    }
    to {
        left: calc(100% + #{$cursorTrailSize});
    }
}

div.stdweb {
    position: absolute;
    overflow: hidden;
    
    width: 100%;
    height: auto;

    top: 0px;
    bottom: 0px;
    left: 0px;
    
    animation: stdweb_printLine ($lineCount * $lineCharPrintSpeed)+s steps($lineCount);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    
    &:after {
        position: absolute;
        display: block;

        background-color: $backgroundColor;

        top: $lineHeight+vh;
        bottom: 0px;
        width: 100%;

        content: '';
    }

    .stdweb-line {
        position: absolute;
        display:block;
        height: $lineHeight+vh;
        left: 0px;
        right: -$cursorTrailSize;
        top: 0px;
        overflow: visible;
        
        background-color: $backgroundColor;
        
        animation: stdweb_printChar $lineCharPrintSpeed+s steps($lineCharCount);
        animation-iteration-count: infinite;
        
        border-left: 5px solid $cursorColor;

        &.stdweb-trail:before {
            position: absolute;
            display: block;
            top: 0px;
            height: $lineHeight+vh;
            width: $cursorTrailSize;
            left: -$cursorTrailSize;
            background: linear-gradient(to right, rgba(0,0,0,0), rgba($cursorColor, 0.25));            

            content: '';
        }
    }

}